.logo {
    width: 160px;
    height: auto;
    margin-top: 5px;
    margin-left: 25px;
}

.sing {
    margin-left: 75%;
    background-color: gray;
    text-align: right;
    width: 9%;
}

.header {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-style: arial;
    width: 100%;
    height: 50px;
    text-align: left;
    gap: 10px;
    background-color: white; 
    font-family: "texturina";
    
    
}
.navbar {
    display: flex; 
    justify-content: space-between;
    width: 95%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #c3eebf;
    font-family: "texturina";
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
}

input {
    border-radius: 10px;
   
}

.dinobanner {
    width: 70%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
}

h1 {
    font-family: "texturina";
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
    color: #b8860b;
    font-weight: bolder;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    gap: 30PX;
    justify-content: center;
}

.box {
    border: 10px solid #c3eebf;
    text-align: center;
    box-shadow:#b8860b;
    padding: 5px;
    font-weight: bold;
}

h2 {
    background-color: #c3eebf;
    text-align: center;
    width: 80%;
    margin: 20px;
}
h3{
    font-style: italic;
    margin: 5px;
}

.book {
    .shadow-effect 
    border: none;
    color:black;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #c3eebf;
    text-align: center;

}

footer {
    display: flex; 
    justify-content: space-between;
    width: 95%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #c3eebf;
    font-family: "texturina";
    font-size: 20px;
    text-align: right;
    margin: 50px;

}

p {
    width: 80%;
    margin: 15px;
    text-align: justify;
}


.aboutus {
    width: 75%;
    text-align: center;
    margin-left: 10%;
}